<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Balance</p>
              <p class="card-title"> {{walletBalance}}
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Consumption Statistics</h5>
        <p class="card-category">Current month</p>
      </div>
      <div class="card-body ">
        <canvas id="consumptionStat"  height="150"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle"  style="color: #E3E3E3 !important"></i> Petrol
          <i class="fa fa-circle" style="color: #51cbce !important"></i> LPG
          <i class="fa fa-circle"  style="color: #ef8157 !important"></i> Agriculture
          <i class="fa fa-circle" style="color: #6bd098 !important"></i> Solar
          <i class="fa fa-circle"  style="color: #032914 !important"></i> Diesel
          <i class="fa fa-circle"  style="color: #8282e9 !important"></i> Paperbag
          <i class="fa fa-circle"  style="color: #a9c5b6 !important"></i> CNG
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 1 minutes ago
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Users Behavior</h5>
        <p class="card-category">day wise performance</p>
      </div>
      <div class="card-body ">
        <canvas id=userBehavior width="400" height="150"></canvas>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 1 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>